<div class="register-container">
  <div class="register-card">
    <h2 class="text-center mb-4">Register</h2>
 
    <form (ngSubmit)="onSubmit()" [formGroup]="userForm" class="user-form">
     
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" formControlName="username" />
      </div>
 
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" />
      </div>
 
      <div class="form-group">
        <label for="name">Full Name:</label>
        <input type="text" id="name" formControlName="name" />
      </div>
 
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" id="email" formControlName="email" />
      </div>
 
      <div class="form-group">
        <label for="role">Role:</label>
        <select id="role" formControlName="role">
          <option value="USER">User</option>
          <option value="ADMIN">Admin</option>
        </select>
      </div>
 
      <button type="submit" class="btn-submit">Create Profile</button>
 
      <div *ngIf="userError$ | async as error" class="error">{{ error }}</div>
      <div *ngIf="userSuccess$ | async as msg" class="success">{{ msg }}</div>
 
      <a routerLink="/auth" class="task-link">Login</a>
    </form>
  </div>
</div>