<h1 class="heading">Welcome to BankSafe Application!</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
  <h3>Login</h3>
 
  <label>
    Username:
    <input type="text" formControlName="username" />
    <p
      class="error"
      *ngIf="
        loginForm.controls['username'].touched &&
        loginForm.controls['username'].errors?.['required']
      "
    >
      Username is required
    </p>
  </label>
 
  <label>
    Password:
    <input type="password" formControlName="password" />
    <p
      class="error"
      *ngIf="
        loginForm.controls['password'].touched &&
        loginForm.controls['password'].errors?.['required']
      "
    >
      Password is required
    </p>
  </label>
 
  <button type="submit">Log in</button>
 
  <a routerLink="/auth/add-user" class="signup-link">Sign up</a>
 
  <div *ngIf="loginError$ | async as error" class="error">
    {{ error.message }}
  </div>
</form>
  